@using TopLearn.Core.Convertors
@model IEnumerable<TopLearn.DataLayer.Entities.Order.Order>
@{
    ViewData["Title"] = "فاکتورهای شما";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">فاکتور ها </li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <partial name="_SideBar" />
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1> فاکتورهای شما </h1></header>
                        <div class="inner form-layer">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>شماره فاکتور</th>
                                        <th>تاریخ</th>
                                        <th>پرداخت</th>
                                        <th>جمع</th>
                                        <th>دستورات</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.OrderId
                                            </td>
                                            <td>@item.CreateDate.ToShamsi()</td>
                                            <td>
                                                @if (item.IsFinaly)
                                                {
                                                    <p class="text-success">
                                                       <i class="zmdi zmdi-check"></i>
                                                        پرداخت شده
                                                    </p>
                                                }
                                                else
                                                {
                                                    <p class="text-danger">
                                                        <i class="zmdi zmdi-alert-triangle"></i>
                                                        پرداخت نشده
                                                    </p>
                                                }
                                            <td>@item.OrderSum.ToString("#,0")</td>
                                            </td>
                                            <td>
                                                <a class="btn btn-info btn-block" href="/UserPanel/MyOrder/ShowOrder/@item.OrderId">نمایش فاکتور</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
