@{
    Layout = null;
}

<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title>404 |تاپ لرن</title>
    <link rel="stylesheet" type="text/css" href="~/css/style_for_404page.css">
    <script src="~/js/Error404.js"></script>
</head>
<body>
    <h1>404</h1>

    <div class="frame">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="caps"><img src="http://ademilter.com/caps.png" alt=""></div>
    <canvas id="canvas"></canvas>

</body>
