@{
    ViewData["Title"] = "نتیجه پرداخت";
}


<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">نتیجه پرداخت</li>
        </ul>
    </nav>
</div>

@if (ViewBag.IsSuccess == true)
{
    <div class="alert alert-success">
        <p>پرداخت با موفقیت انجام شد</p>
        <p>کد پیگیری:@ViewBag.Code</p>
    </div>
}
else
{
    <div class="alert alert-danger">
        <p>عملیات ناموفق بود!!</p>
    </div>
}

