@using TopLearn.Core.Convertors
@using TopLearn.Core.DTOs
@using TopLearn.Core.Services.interfaces
@inject IUserService _userservice
@inject IPermissionService _PermissionService
@{
    SideBarUserPanelViewModel sideBar = _userservice.GetSideBarUserPanel(User.Identity.Name);
}
<aside>

    <div class="avatar-layer">
        <div class="img-layer">
            <a href="" class="change-image"><i class="zmdi zmdi-edit"></i></a>
            <img src="~/images/UserAvatar/@sideBar.ImageName">
            
        </div>
        <div class="detail">
            <span> @sideBar.UserName </span>
            <span> عضویت : @sideBar.RegisteredDate.ToShamsi() </span>
        </div>
    </div>

    <section>
        <header><h3> میز کار </h3></header>
        <div class="inner">
            <ul>
                <li><a href="/UserPanel"> مشاهده حساب کابری </a></li>
                <li><a href="/UserPanel/EditProfile"> ویرایش حساب کابری </a></li>
                <li><a href="/UserPanel/ChangePassword"> تغییر رمز عبور </a></li>
                <li><a href="/UserPanel/Wallet"> کیف پول شما </a></li>
                <li><a href="/UserPanel/MyOrder"> فاکتور ها </a></li>
                <li><a href=""> تنظیمات حساب کاربری </a></li>
                <li><a asp-action="Logout" asp-controller="Account"> خروج از حساب کاربری </a></li>
            </ul>
        </div>
    </section>
    @*@if (_PermissionService.CheckPermission(6), User.Identity.Name)
    {*@
        <section>
        <header><h3> پنل مدرس </h3></header>
        <div class="inner">
            <ul>
                <li><a asp-controller="Master" asp-action="MasterCoursesList" > مدیریت دوره ها </a></li>
                
            </ul>
        </div>
        </section>
    @*}*@
</aside>