@page  "{id}"
@using TopLearn.Core.Convertors
@model TopLearn.Web.Pages.Admin.Discounts.EditDiscountModel
@{
    ViewData["Title"] = "ویرایش کد تخفیف";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">ویرایش کد تخفیف</h1>
    </div>
</div>

<div class="row">
    <form enctype="multipart/form-data" method="post">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading"> کد تخفیف </div>
                <div class="panel-body">
                    <input type="hidden"asp-for="Discount.DiscountId"/>
                    <div class="form-group">
                        <label>کد تخفیف</label>
                        <input asp-for="Discount.DiscountCode" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>درصد تخفیف</label>
                        <input asp-for="Discount.DiscountPercent" type="number" min="0" max="100" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>تعداد استفاده</label>
                        <input asp-for="Discount.UsableCount" type="number" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>تاریخ شروع استفاده</label>
                        <input id="startDate" name="startDate" value="@((Model.Discount.StartDate != null) ? Model.Discount.StartDate.Value.ToShamsi() : "")">
                    </div>
                    <div class="form-group">
                        <label>تاریخ پایان استفاده</label>
                        <input id="endDate" name="endDate" value="@((Model.Discount.EndDate != null) ? Model.Discount.EndDate.Value.ToShamsi() : "")">
                    </div>
                </div>
                <div class="panel-footer ">
                    <div class="row" style="margin:2px">
                        <p>
                            <input type="submit" value="ذخیره اطلاعات" class="btn btn-success" />
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>

@section Scripts
{
    <link href="https://kendo.cdn.telerik.com/2023.2.829/js/kendo.all.min.js" rel="stylesheet">
    <link href="https://kendo.cdn.telerik.com/themes/6.7.0/default/default-main.css" rel="stylesheet" />
    <script src="https://kendo.cdn.telerik.com/2023.2.829/js/jquery.min.js"></script>
    <script src="~/js/kendo.all.min.js"></script>
    
    <script>
        $("#startDate").kendoDatePicker().kendoDatePicker({
            culture:"de-DE",
            value: new Date()
        });
        $("#endDate").kendoDatePicker().kendoDatePicker({
            culture:"de-DE",
            value: new Date()
        });
    </script>
}

