@model TopLearn.Core.DTOs.Course.ShowCourseListItemViewModel

<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 term-col">
    <article>
        <a href="" class="img-layer"><img style="height:180px" src="~/images/course/thumb/@Model.ImageName"></a>
        <h2><a href=""> @Model.Title </a></h2>
        <span> @(Model.Price==0?"رایگان": Model.Price.ToString("#,0")) </span>
        <i>@Model.TotalTime</i>
    </article>
</div>