@model TopLearn.DataLayer.Entities.User.User

<div style="direction:rtl; padding:20px">
    <h2>@Model.UserName عزیز!</h2>
    <p> جهت بازیابی حساب کاربری خود روی لینک زیر کلیک کنید </p>
    <p>
        <a href="https://localhost:7003/account/ResetPassword/@(Model.ActiveCode)"> بازیابی رمز عبور</a>
    </p>
</div>
