@using TopLearn.Core.Convertors
@model Tuple<List<TopLearn.DataLayer.Entities.Course.CourseComment>, int>
@{
    Layout = null;
}
@foreach (var comment in Model.Item1)
{
    <!-- row -->
    <div class="comment-row">
        <img src="~/images/UserAvatar/@comment.User.UserAvatar">
        <div class="left-col">
            <h3> @comment.User.UserName </h3>
            <span>@comment.CreateDate.ToShamsi()</span>
            <p>
                @comment.Comment
            </p>
        </div>
    </div>
    <!-- /row -->
}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @for (int i = 1; i <= Model.Item2; i++)
        {
            <li class="page-item"><a class="page-link" onclick="pageComment(@i)">@i</a></li>
        }
    </ul>
</nav>