@page
@model TopLearn.Web.Pages.Admin.Courses.IndexModel
@{
    ViewData["Title"] = "لیست دوره ها";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">لیست دوره ها</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                لیست دوره های سایت
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div style="margin-bottom:10px">
                    <a  asp-page="CreateCourse" class="btn btn-success" > افزودن دوره جدید</a>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables-example" aria-describedby="dataTables-example_info">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" style="width: 193px;"> تصویر</th>
                                    <th tabindex="0" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 264px;">عنوان دوره</th>
                                    <th tabindex="0" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 244px;">تعداد جلسه</th>
                                    <th tabindex="0" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending" style="width: 123px;">دستورات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var course in Model.ListCourse)
                                {
                                    <tr class="gradeA odd">
                                        <td class="sorting_1"><img src="~/images/course/image/@course.ImageName" style="max-width:140px" class="thumbnail"/></td>
                                        <td class=" ">@course.CourseTitle</td>
                                        <td class="center ">@course.EpisodeCount</td>
                                        @*<td class="center ">
                                            <a href="/Admin/Users/EditUser/@user.UserId" class="btn btn-warning btn-sm">ویرایش</a>
                                            <a href="/Admin/Users/DeleteUser/@user.UserId" class="btn btn-danger btn-sm">حذف</a>
                                        </td>*@
                                    </tr>
                                }
                            </tbody>
                        </table>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

