@model TopLearn.Core.DTOs.ForgotPasswordViewModel

@{
    ViewData["Title"] = "بازیابی رمز عبور";
}


<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">بازیابی رمز عبور</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">
        @if(ViewData["IsSuccess"]!=null)
        {
            <div class="alert alert-success">
                <p class="help-block">ایمیل بازیابی کلمه عبور با موفقیت ارسال شد</p>
            </div>
            
        }
        <header><h2> ورود به سایت </h2></header>

        <div class="form-layer">

            <form asp-action="ForgotPassword" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="text" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>
                <span style="margin:10px" asp-validation-for="Email"></span>

                <input type="submit" class="btn btn-success" value="تایید و ارسال" />

            </form>
        </div>

    </div>
</main>

