@model TopLearn.Core.DTOs.LoginViewModel

@{
    ViewData["Title"] = "ورود";
}


<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">ورود به سایت</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">
        @if(ViewData["IsSuccess"]!=null)
        {
            <div class="alert alert-success">
                <p class="help-block">ورود با موفقیت انجام شد:)</p>
            </div>
            <script>
                var delay = 2000; 
                setTimeout(function(){ window.location ="/"; }, delay);
            </Script>
        }
        <header><h2> ورود به سایت </h2></header>

        <div class="form-layer">

            <form asp-action="Login" method="post">

                <div class="input-group">
                    <span class="input-group-addon" id="email-address"><i class="zmdi zmdi-email"></i></span>
                    <input asp-for="Email" type="text" class="form-control" placeholder="ایمیل" aria-describedby="email-address">
                </div>
                <span asp-validation-for="Email"></span>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="Password" type="text" class="form-control" placeholder="رمز عبور " aria-describedby="password">
                </div>
                <span asp-validation-for="Password"></span>

                <div class="remember-me">
                    <label><input asp-for="ReMemberMe" type="checkbox" name="">  مرا بخاطر بسپار </label>
                </div>
                <span asp-validation-for="ReMemberMe"></span>

                <div class="link">
                    <a href=""> <i class="zmdi zmdi-lock"></i> رمز عبور خود را فراموش کرده ام !</a>
                    <a asp-action="Register" asp-controller="AccountController"> <i class="zmdi zmdi-account"></i> عضویت در سایت </a>
                </div>

                <input type="submit" class="btn btn-success" value="ورود به سایت" /> </input>

            </form>
        </div>

    </div>
</main>

