@model TopLearn.Core.DTOs.ResetPassworViewModel

@{
    ViewData["Title"] = "بازیابی رمز عبور";
}


<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">تاپ لرن</a></li>
            <li class="breadcrumb-item active" aria-current="page">تغییر رمز عبور</li>
        </ul>
    </nav>
</div>

<main class="client-page">
    <div class="container-content">
        @if(ViewData["IsSuccess"]!=null)
        {
            <div class="alert alert-success">
                <p class="help-block">رمز شما با موفقیت تغییر کرد:)</p>
            </div>
            <script>
                var delay = 2000; 
                setTimeout(function(){ window.location ="/"; }, delay);
            </Script>
        }
        <header><h2> ورود به سایت </h2></header>

        <div class="form-layer">

            <form asp-action="ResetPassword" method="post">
                <input asp-for="ActiveCode" type="hidden" class="form-control" placeholder="رمز عبور " aria-describedby="password">
                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="Password" type="password" class="form-control" placeholder="رمز عبور " aria-describedby="password">
                </div>
                <span asp-validation-for="Password"></span>

                <div class="input-group">
                    <span class="input-group-addon" id="password"><i class="zmdi zmdi-lock"></i></span>
                    <input asp-for="RePassword" type="password" class="form-control" placeholder="تکرار رمز عبور " aria-describedby="repassword">
                </div>
                <span asp-validation-for="RePassword"></span>

                <input type="submit" class="btn btn-success" value="تغییر رمز عبور" />

            </form>
        </div>

    </div>
</main>

