@using TopLearn.Core.Services.interfaces
@inject IPermissionService _PermissionService
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>مدیریت تاپلرن | @ViewData["Title"]</title>

    <!-- Core CSS - Include with every page -->
    <link href="~/AdminContent/css/bootstrap-rtl.css" rel="stylesheet">
    <link href="~/AdminContent/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="~/AdminContent/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="~/AdminContent/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="~/AdminContent/css/sb-admin.css" rel="stylesheet">


</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Admin">Toplearn.Com</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-left">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> داشبورد</a>
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-users "></i>  کاربران <span class="fa arrow" style="margin-left:4px"></span> </a>
                            <ul class="nav nav-second-level collapse" style="height: auto;">
                                <li>
                                    <a href="/Admin/Users">لیست کاربران</a>
                                </li>
                                <li>
                                    <a href="/Admin/Users/ListDeletedUsers">لیست کاربران حذف شده</a>
                                </li>
                                <li>
                                    <a href="/Admin/Users/CreateUser">افزودن کاربر</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li class="">
                            <a href="#"><i class="fa fa-users "></i> نقش ها <span class="fa arrow" style="margin-left:4px"></span> </a>
                            <ul class="nav nav-second-level collapse" style="height: auto;">
                                <li>
                                    <a href="/Admin/Roles">لیست نقش ها</a>
                                </li>
                                <li>
                                    <a href="/Admin/Roles/CreateRole">افزودن نقش</a>
                                </li>
                            </ul>
                        </li>
                       @* @if (_PermissionService.CheckPermission(2, User.Identity.Name))
                        {*@
                            <li class="">
                                <a href="#"><i class="fa fa-users "></i> مدیریت دوره ها <span class="fa arrow" style="margin-left:4px"></span> </a>
                                <ul class="nav nav-second-level collapse" style="height: auto;">
                                    <li>
                                        <a href="/Admin/Courses"> دوره ها</a>
                                    </li>
                                    <li>
                                        <a herf="/Admin/courses/AddCourse">افزودن دوره</a>
                                    </li>
                                    
                                </ul>
                            </li>
                        @*}*@
                       <li class="">
                           <a href="#"><i class="fa fa-users "></i> مدیریت تخفیف ها <span class="fa arrow" style="margin-left:4px"></span> </a>
                           <ul class="nav nav-second-level collapse " style="height: auto;">
                               <li>
                                   <a href="/Admin/Discounts"> تخفیف ها</a>
                               </li>
                               <li>
                                   <a herf="/Admin/Discounts/CreateDiscount">افزودن تخفیف</a>
                               </li>
                                
                           </ul>
                       </li>
                       <li class="">
                           <a href="#"><i class="fa fa-users "></i> مدیریت گروه ها <span class="fa arrow" style="margin-left:4px"></span> </a>
                           <ul class="nav nav-second-level collapse " style="height: auto;">
                               <li>
                                   <a href="/Admin/CourseGroups"> گروه ها</a>
                               </li>
                               <li>
                                   <a herf="/Admin/CourseGroups/CreateGroup">افزودن گروه</a>
                               </li>
                                
                           </ul>
                           <!-- /.nav-second-level -->
                       </li>
                        
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            @RenderBody()
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Core Scripts - Include with every page -->
    <script src="~/AdminContent/js/jquery-1.10.2.js"></script>
    <script src="~/AdminContent/js/bootstrap.min.js"></script>
    <script src="~/AdminContent/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
    <script src="~/AdminContent/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="~/AdminContent/js/plugins/morris/morris.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="~/AdminContent/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="~/AdminContent/js/demo/dashboard-demo.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>

